<div class="counter-container">
  <div class="col-1">
    <button class="decrease" (click)="decrement()">-</button>
    <p class="number">{{ count$ | async }}</p>
    <button class="increase" (click)="increment()">+</button>
  </div>
  <div class="col-2">
    <input type="number" [(ngModel)]="inputValue" placeholder="Enter count" />
  </div>
  <div class="col-3">
    <button (click)="setCount()" class="reset">
      Set Count By {{ inputValue }}
    </button>
    <button (click)="incrementByValue()" class="reset">
      Increment By {{ inputValue }}
    </button>
    <button (click)="decrementByValue()" class="reset">
      Decrement By {{ inputValue }}
    </button>
    <button (click)="multiplyByValue()" class="reset">
      Multiply By {{ inputValue }}
    </button>
    <button *ngIf="(count$ | async) !== 0" class="reset" (click)="reset()">
      Reset
    </button>
    <button class="reset" (click)="undoLastAction()">Undo</button>
  </div>
  <div class="history">
    <h3>Counter History:</h3>
    <ul>
      <li *ngFor="let value of history$ | async">
        {{ value }}
      </li>
    </ul>
  </div>
</div>
