<div class="counter-container">
  <div class="col-1">
    <button class="decrease" (click)="decrement()">-</button>
    <p class="number">{{ count$ | async }}</p>
    <button class="increase" (click)="increment()">+</button>
  </div>
  <div class="col-2">
    <input type="number" [(ngModel)]="inputValue" placeholder="Enter count" />
    <!-- <button (click)="setCount()" class="set-count">Set Count</button> -->
  </div>
  <div class="col-3">
    <button (click)="incrementByValue()" class="reset">
      Increment By {{ inputValue }}
    </button>
    <button (click)="decrementByValue()" class="reset">
      Decrement By {{ inputValue }}
    </button>
    <button (click)="multiplyByValue()" class="reset">
      Multiply By {{ inputValue }}
    </button>
    <button *ngIf="(count$ | async) !== 0" class="reset" (click)="reset()">
      Reset
    </button>
  </div>
</div>
